*{                         /* '*' significa TUDO */
    margin:0 ;   /* margem da parte de fora */
    padding:0 ;  /* margem da parte de dentro */
    }
body{
    background: #828282 ;
    }

nav{
    margin: 150px auto;
    width: 450px;
    height: 450px;
    }

#check{
    display: none;
    }

#central{
    cursor: pointer;       /* muda o tipo do cursor */
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 150px 150px;
    z-index: 1;       /*  */
    }

#central img{
    width: 100%;
    border-radius: 50%;   /* Quando a altitude e longitude for a mesma ele faz um circulo se não ele modifica apenas os cantos */
    transition: all .5s linear;
    }

.link{
    position: absolute;
    margin: 195px 195px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .5s linear;
    }

#check:checked ~ a #link_01{          /* '~' significa para referencia de outro elemento */  
    transform: translateY(-195px);
    transition: all .5s linear;
    }
#check:checked ~ a #link_02{                
    transform: translateX(195px);
    transition: all .5s linear;
    }
#check:checked ~ a #link_03{                
    transform: translateY(195px);
    transition: all .5s linear;
    }
#check:checked ~ a #link_04{                
    transform: translateX(-195px);
    transition: all .5s linear;
    }
#check:checked ~ a #link_05{                
    transform: translateX(155px) translateY(-155px);
    transition: all .5s linear;
    }

#check:checked ~ #central img{
    transform: rotate(45deg);
    /* width: 100px;
    height: 100px; */
    }